.title {
  text-align: center;
  font-size: 40pt;
}

.login {
  text-align: center;
}

.getStartedRow {
  margin-top: 2%;
}

.descriptionRow {
  text-align: center;
}

.featureDescriptionRow {
  margin-top: 5%;
  text-align: center;
}
