.title {
  text-align: center;
  font-size: 5vw;
}

.login {
  text-align: center;
}

.titleRow {
  margin-top: 10%;
}

.getStartedRow {
  margin-top: 5%;
}

.descriptionRow {
  text-align: center;
}

.featureDescriptionRow {
  margin-top: 10%;
  text-align: center;
}
