.title {
    font-size: 3vw;
    margin-top: 5%;
    padding-bottom: 10%;
}

.createProjectButton {
    float: right;
    margin-top: 9%;
    margin-bottom: 2%;
}

.card {
    white-space: pre-line;
    word-wrap: break-word;
    overflow: hidden;
}
